camel:
  server-port: 5008
  springboot:
    main-run-controller: true
  dataformat:
    json-jackson:
      auto-discover-object-mapper: true

dfspids: "gorilla"

zeebe:
  broker:
    contactpoint: "127.0.0.1:26500"

ams:
  local:
    enabled: false
    version: 1.2
    keystore-path: keystore.jks
    keystore-password: openmf
    interop:
      host: https://localhost:8443
      base-url: /fineract-provider/api/v1
      quotes-path: ${ams.local.interop.base-url}/interoperation/quotes
      parties-path: ${ams.local.interop.base-url}/interoperation/parties/{idType}/{idValue}
      transfers-path: ${ams.local.interop.base-url}/interoperation/transfers
      accounts-path: ${ams.local.interop.base-url}/interoperation/accounts/{externalAccountId}
    customer:
      host: https://localhost:8443
      base-url: /fineract-provider/api/v1
      path: ${ams.local.customer.base-url}/clients/{clientId}
      image: ${ams.local.customer.base-url}/clients/{clientId}/images
    account:
      host: https://localhost:8443
      base-url: /fineract-provider/api/v1
      savingsaccounts-path: ${ams.local.account.base-url}/savingsaccounts
    auth:
      host: https://localhost:8443
    loan:
      host: http://localhost:8443
      repayment-path: /fineract-provider/api/v1/interoperation/transactions/{accountNumber}/loanrepayment

mock-service:
  run-on-mock: true
  local:
    loan:
      host: http://localhost:7070
      base-url: /fineract
      repayment-path: ${mock-service.local.loan.base-url}/transactions/loanrepayment
    interop:
      host: http://localhost:7070
      base-url: /fineract
      quotes-path: ${mock-service.local.interop.base-url}/savingsaccount
      parties-path: ${mock-service.local.interop.base-url}/savingsaccount
      transfers-path: ${mock-service.local.interop.base-url}/savingsaccount/transfers
      accounts-path: ${mock-service.local.interop.base-url}/savingsaccount
# Savings : S , Loan : L
accountPrefixes: "S,L"